<hr class="horizontal-rule" />
<h5>On The Internet</h5>

<ul class="list-unstyled on-internet">
    <li><a href="https://github.com/always-developing"><i class="fab fa-github"></i> GitHub <small>(always-developing)</small></a></li>
    <li><a href="https://www.linkedin.com/in/jean-pierre-seini"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
</ul>