.btn-default {
    border-radius: 5px;
    text-transform: unset !important;
    background-color: rgb(86, 156, 214);
    border-color: rgb(86, 156, 214);
}

.on-internet {
    color: #fff;
}

.daily-drop {
    border: solid;
    border-width: 2px;
    border-color: #fff;
    color: #fff;
    padding: 10px;
}

.drop-header {
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
}

.info-block {
    border: solid;
    border-width: 2px;
    border-color: #fff;
    color: #fff;
    padding: 10px;
}